HELP.md

# Diretórios de build
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Arquivos de ambiente
.env*
.DS_Store
*.pem

# Node.js / Yarn / npm
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Logs de debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Testes
/coverage

# Next.js
/.next/
/out/

# Produção
/build

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Referência
# Veja https://help.github.com/articles/ignoring-files/ para mais detalhes.
