.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
    max-width: 1080px;
    gap: 2rem;
    background-color: #202024;
    padding: 2rem;

    @media (max-width: 768px) {
        padding: 1rem;
    }
}