.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #202024;
  color: #333;
}

.errorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  max-width: 500px;
  width: 100%;
  padding: 3rem 2rem;
  margin: 4rem auto;
  border-radius: 1rem;
  background: #18181b;
  backdrop-filter: blur(10px);
  border: 1px solid #00875f;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.errorNumber {
  font-size: 8rem;
  font-weight: bold;
  color: #00875F;
  margin-bottom: 20px;
  animation: bounce 1s infinite alternate;
}

.errorMessage {
  text-align: center;
}

.errorMessage h2 {
  font-size: 2.5rem;
  margin-bottom: 0.625rem;
  color: #fff;
}

.errorMessage p {
  font-size: 1.125rem;
  color: #fff;
  margin-bottom: 2.5rem;
}

.goHomeButton {
  background-color: #00875F;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.goHomeButton:hover {
  background-color: #00b37e;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
